<% provide(:title,"Bills") %>
<% provide(:billing,"active")%>
<div class="main panel">
	<div class="bills-table">
		<table class="table table-bordered" width="100%" id="bills_table">
			<thead><th>Customer</th><th>Phone</th><th>Total amount</th><th>Paid amount</th><th>Time</th><th></th></thead>
		</table>
	</div>
</div>