.form-container{
	.sub-form{
		padding: 10px;
		margin-bottom: 10px;
		border: solid #5A6169 1px;
		border-radius: 5px;
		box-shadow: 0 0 25px rgba(40, 47, 60, 0.05);
		td{
			height: 40px;
		}
	}
	span.fa{
		font-size: 1rem;
	}
	.total-net-price,.total-net-price .fa{
		font-size: 3rem;
    	padding-left: 10px;
    	font-weight: 600;
    	margin-left: 10px;
   		vertical-align: middle;
    	color: var(--dark);
    	#net_price{
    		font-family: fantasy;
    	}
	}
	.form-group{
		margin-bottom: 0px;
	}
}
#item_container{
	height: 30vh;
	min-height: 230px;
	overflow-y: scroll
}
.receipt{
	margin: auto;
	padding: 10px 20px;
	max-width: 600px;

	border:solid black 2px;
	.main-header{
		text-align: center;
		font-size: 24px;
		font-weight: 600;
	}
	.font-1{
		font-size: 24px;
	}
	.font-2{
		font-size: 18px;
	}
	.font-3{
		font-size: 14px;
	}
	.label-font{
		font-weight: 500;
		font-size: 16px;
	}
}
