
.main{
	margin: 20px 40px;
}
.table{
	::-webkit-scrollbar {
	    width: 5px;
	}

	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	    border-radius: 4px;
	}

	::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	}
}
.loader{
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
	background-image: url('loader.gif');
	background-position: center;
	background-repeat: no-repeat;
}
