// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row-1 .card{
	min-height: 320px;
	border: solid #697481 1.5px;
	position: relative;
	.link-div{
		position: absolute;
    	bottom: 10px;
    	right: 10px;
    	font-weight: 500;
	}
}

