// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile {
    max-width: 500px;
    padding: 20px;
    margin: auto;
    .action-part{
    	height: 30px;
    	button{
    		float: right;
    	}
    }
}