// Place all the styles related to the stock controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.action-part{
	display: block;
	margin-bottom: 10px;
	height: 40px;
}
.stock-container{
	padding: 10px 20px;
}
.stock-product{
	border: solid 1px #5A6169;
	padding: 5px;
	border-radius: 5px;
}
.stock-form{
	margin: 10px;
	
}