<% provide(:customers,'active') %>
<% provide(:title,'Customers') %>
<div class="main panel main-panel">
    <div class="content">
        <div class="customer_table">
            <table class="table table-bordered" width="100%" id="customers_table">
                <thead>
                    <tr>
                        <th width="20%">Customer Name</th>
                        <th width="20%">Phone</th>
                        <th width="20%">email</th>
                        <th width="20%">Address</th>
                        <th width="10%">due</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="view_trans" data-current="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="customer_name">customer name</h5>
                <h5 class="text-right"><span class="fa fa-inr"></span> <span id="customer_due"></span></h5>
            </div>
            <div class="modal-body">
            	<div class="view-trans-container">
                <table class="table table-bordered" width="100%" id="customer_transactions">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Due</th>
                        </tr>
                    </thead>
                </table>
            	</div>
            	<div class="add-trans-container">
                <%= form_tag(customer_transaction_path,method:'post',id:'customer_transaction') do |f| %>
                    <div class="form-group">
                        <input type="hidden" name="customer_id" value="" id="customer_id">
                        <input type="hidden" id="cust_due" value="">
                        <label for="amount">Enter Paid amount</label>
                        <input type="text" name="amount" class="form-control numerical" id="amount">
                        <label for="description">Add some description</label>
                        <textarea class="form-control" name="description" id="description"></textarea>
                    </div>
                    <div class="modal-footer ">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
                    </div>
                    <% end %>
            	</div>
            <div class="modal-footer view-trans-container">
                <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>