<div class="loader"><div class="page-loader"></div></div>
<!-- Flaoting Shards -->
<img src="/assets/hmwl.png" alt="hand made with love" class="shard">

<!-- Welcome -->
<div class="welcome d-flex justify-content-center flex-column">
    <div class="inner-wrapper mt-auto mb-auto">
        <h1 class="slide-in">Pathi Eparam</h1><br />
        <p class="slide-in">A shop Keepers paradise</p>
        <div class="action-links slide-in">
          <a href="/users/sign_in" class="btn btn-primary btn-pill align-self-center mr-2"><i class="fa fa-download mr-1"></i>Login</a>
          <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">Know us</a>
        </div>
    </div>
    <div class="product-by">
        <a href="javascript:void(0);" target="_blank">
            <p>A Product By</p>
            <h2><sup style="font-weight:bold;">G<sub>E</sub>E<sub>K</sub>S<sup>&reg;</sup></sup></h2>
        </a>
    </div>
</div>
